.productListContainer {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 381px) and (max-width: 768px) {
  .productListContainer {
    width: 157%;
  }
}
