.newsLettersContainer {
  height: 60vh;
  background-color: #fcf5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.newsTitle {
  font-size: 70px;
  margin-bottom: 20px;
}
.newsDesc {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.newsInputContainer {
  width: 50%;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
}
.newsInput {
  border: none;
  flex: 8;
  padding-left: 20px;
}
.newsButton {
  flex: 1;
  border: none;
  background-color: teal;
  color: #fff;
}
@media (max-width: 380px) {
  .newsTitle {
    font-size: 50px;
  }
  .newsDesc {
    text-align: center;
  }
  .newsInputContainer {
    width: 80%;
    margin-bottom: 20px;
  }
}
