.mainContainer {
  padding: 20px;
}
.title {
  font-weight: 300;
  text-align: center;
}
.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.topButton {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}
.topButtonOutlined {
  background-color: transparent;
  outline: none;
}
.topButtonFilled {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  outline: none;
}

.topText {
  text-decoration: underline;
  margin: 0 10px;
}
.bottomContainer {
  display: flex;
  justify-content: space-between;
}
.infoContainer {
  flex: 3;
}
.product {
  display: flex;
  justify-content: space-between;
}
.productDetail {
  display: flex;
  flex: 2;
}
.productDetailImg {
  width: 200px;
}
.details {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-around;
}
.productColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.priceDetail {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.productAmountContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.productAmount {
  font-size: 24px;
  margin: 5px;
}
.productPrice {
  font-size: 30px;
  font-weight: 200;
}
.hr {
  background-color: #eee;
  border: none;
  height: 1px;
}
.summaryContainer {
  flex: 1;
  border: 0.5px solid lightgray;
  padding: 20px;
  border-radius: 10px;
  height: 80vh;
}
.summaryTitle {
  font-weight: 200;
}
.summaryItem {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.summaryItemTotal {
  font-weight: 500;
  font-size: 24px;
}
.summaryButton {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
@media (max-width: 320px) {
  .mainContainer {
    padding: 10px;
  }
  .topContainer {
    padding: 10px;
  }
  .topTextsContainer {
    display: none;
  }
  .bottomContainer {
    flex-direction: column;
  }
  .product {
    flex-direction: column;
  }
  .productDetailImg {
    width: 150px;
  }
  .productName,
  .productId,
  .productColor {
    margin-bottom: 10px;
  }
  .priceDetail {
    flex-direction: row;
    justify-content: space-between;
  }

  .productAmount {
    margin: 5px 15px;
  }
  .productPrice {
    margin-bottom: 20px;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .mainContainer {
    padding: 10px;
  }
  .topContainer {
    padding: 10px;
  }
  .productDetailImg {
    width: 150px;
  }
  .topTextsContainer {
    display: none;
  }
  .product {
    flex-direction: column;
  }
  .priceDetail {
    flex-direction: row;
    justify-content: space-between;
  }

  .productAmount {
    margin: 5px 15px;
  }
  .productPrice {
    margin-bottom: 20px;
  }
  .bottomContainer {
    flex-direction: column;
  }
  .summaryContainer {
    padding: 10px;
  }
  .summaryItem {
    margin-bottom: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .bottomContainer {
    flex-direction: column;
  }
}
