.categoryContainer {
  flex: 1;
  height: 70vh;
  margin: 3px;
  position: relative;
}
.categoryImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.categoryInfoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.categoryTitle {
  color: #fff;
  margin-bottom: 20px;
}
.categoryButton {
  padding: 10px;
  border: none;
  background-color: #fff;
  color: gray;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 380px) {
  .categoryImg {
    height: 20vh;
  }
  .categoryTitle {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .categoryButton {
    padding: 8px;
    font-style: 16px;
  }
}
@media (min-width: 381px) and (max-width: 768px) {
  .categoryTitle {
    font-size: 18px;
  }
}
