.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 40%;
  padding: 20px;
  background-color: #fff;
}
.title {
  font-size: 24px;
  font-weight: 300;
}
.formControl {
  display: flex;
  flex-wrap: wrap;
}

.aggrement {
  font-size: 12px;
  margin: 20px 0;
}
.button {
  width: 40%;
  padding: 15px 20px;
  border: none;
  background-color: teal;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}
.button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: teal;
}
.redirectLink {
  text-decoration: none;
}
@media (max-width: 380px) {
  .wrapper {
    width: 75%;
    padding: 5px;
    margin: 50px 0;
  }
}
@media (min-width: 381px) and (max-width: 768px) {
  .wrapper {
    width: 50%;
    margin: 50px 0;
    padding: 10px;
  }
}
