.productItemContainer {
  flex: 1;
  height: 350px;
  min-width: 280px;
  margin: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfd;
}
.circle {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
}
.produtImg {
  height: 75%;
  z-index: 2;
}
.productItemInfo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 0;
  transition: all 0.5s ease;
  cursor: pointer;
}
.productItemInfo:hover {
  opacity: 1;
}
.productItemIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 0.5s ease;
}
.productItemIcon:hover {
  background-color: #e9f5f5;
  transform: scale(1.1);
}
