.produtListpageTitle {
  margin: 20px;
}
.filterContainer {
  display: flex;
  justify-content: space-between;
}
.filter {
  margin: 20px;
}
.filterText {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}
.selectBox {
  padding: 10px;
  margin-right: 20px;
}

@media (max-width: 380px) {
  .filterContainer {
    overflow: hidden;
  }
  .filter {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }
  .filterText {
    margin-bottom: 5px;
    margin-right: 0;
    font-size: 15px;
  }
  .selectBox {
    margin: 10px 0;
  }
}
@media (min-width: 381px) and (max-width: 768px) {
}
