.announceContainer {
  background-color: teal;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 381px) and (max-width: 768px) {
  .announceContainer {
    width: 157%;
  }
}
