.sliderContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  overflow: hidden;
}
.arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}
.arrowLeft {
  margin-left: 10px;
}
.arrowRight {
  right: 0;
  margin-right: 10px;
}

.sliderWrapper {
  height: 100%;
  display: flex;
  transition: inherit 1.5s ease;
}
.silde {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.imgContainer {
  flex: 1;
  height: 100%;
}
.slideImage {
  height: 80%;
}
.infoContainer {
  flex: 1;
  padding: 50px;
}
.headerTitle {
  font-size: 70px;
}
.headerDescription {
  margin: 50px 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}
.headerButton {
  background-color: transparent;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 380px) {
  .sliderContainer {
    display: none;
  }
}
